.detail{
    width: 100%;
    margin: 10px 50px 20px 50px;
}
.header{
    font-size: 25px !important;
    text-align: left;
}
.title{
    font-size: 25px;
}
.attr{
    color:#B10C01;
}
.image{
    display: block;
}
.info{
    width: 90%;
}